@model ContosoUniversity.Features.Departments.Edit.Command

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.ValidationDiv()
            @Html.Input(model => model.Id)
            @Html.Input(model => model.RowVersion)

            @Html.FormBlock(m => m.Name)
            @Html.FormBlock(m => m.Budget)
            @Html.FormBlock(m => m.StartDate)
            @Html.FormBlock(m => m.Administrator)

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
