@using System.Collections.Generic
@using ContosoUniversity.Features
@using HtmlHelperExtensions = ContosoUniversity.Features.HtmlHelperExtensions
@model List<ContosoUniversity.Features.Departments.Index.Model>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayLabel(model => model.Name)
            </th>
            <th>
                @Html.DisplayLabel(model => model.Budget)
            </th>
            <th>
                @Html.DisplayLabel(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayLabel(model => model.AdministratorFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Display(modelItem => modelItem[i].Name)
                </td>
                <td>
                    @Html.Display(modelItem => modelItem[i].Budget)
                </td>
                <td>
                    @Html.Display(modelItem => modelItem[i].StartDate)
                </td>
                <td>
                    @Html.Display(modelItem => modelItem[i].AdministratorFullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>