@model ContosoUniversity.Features.Instructors.CreateEdit.Command

@{
    ViewBag.Title = Model.Id == null ? "Create" : "Edit";
}

<h2>@(Model.Id == null ? "Create" : "Edit")</h2>

<h4>Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.ValidationDiv()
            @Html.FormBlock(m => m.LastName)
            @Html.FormBlock(m => m.FirstMidName)
            @Html.FormBlock(m => m.HireDate)
            @Html.FormBlock(m => m.OfficeAssignmentLocation)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                        @{
                            int cnt = 0;

                            foreach (var course in Model.AssignedCourses)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <label style="font-weight: normal">
                                    <input type="checkbox"
                                           name="selectedCourses"
                                           value="@course.CourseID"
                                           @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                    @course.CourseID :  @course.Title
                                </label>
                                @:</td>
                            }
                            @:</tr>
                        }

                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
